html,body {
	height: 100%;
	min-height: 100%;
    font-family: monospace;
    font:normal 14px Monospace, Helvetica, sans-serif;
    background-color: #303a46;
    margin: 0;
    padding: 0;
    position: relative;
    color: #bd9c7d;
	font-size:40px;
}

img {
    border:none;
}

#alles {
	margin:auto;
	top:100px;
	height:500px;
	width:800px;
	background-color:#122;
	display:block;
	position:relative;
}

.content {
	height:500px;
	width:800px;
	display:inline-block;
	background-image:url(img/bg.png);

}

#tetris{
	margin:60px 100px;
	padding-left:9px;
	min-height:320px;
 	width:300px;
	cursor:pointer;
	line-height:0.43;
	letter-spacing:-6.8px;
/* 	border:3px dotted #134; */
}

#asd{
	margin-top: 10px;
	margin-left: 10px;
	height:50px;
 	width:80px;
	cursor:pointer;
	line-height:0.43;
	letter-spacing:-6.8px;
/* 	border:2px dotted #136; */
	position:absolute;
	top:60px;
	left:290px;

}

.b {
    color:#123;
}

.t1{
	color:#FF0000;
}

.t2{
	color:#FF4D00;
}

.t3{
	color:#BF4D00;
}

.t4{
	color:#C40000;
}

.t5{
	color:#CC3D00;
}

.t6{
	color:#820000;
}

.t7{
	color:#ED0212;
}

.t8{
    color:#8C8484;
}

#f{
	color:#8C8484;
	font-size:10px;
	position:absolute;
	top:120px;
	left:301px;
	width:95px;
}
#asdf{
	border:1px solid #8c8484;
	position:absolute;
	height:4px;
	width:19px;
	top:5px;
	left:32px;
}

#l{
	font-size:10px;
	position:absolute;
	top:150px;
	left:301px;
	width:81px;
}
#s{
	font-size:11px;
	position:absolute;
	top:170px;
	left:301px;
	min-width:81px;
}
